*{
  box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0 auto;
    font-family: 'Heebo';
    color: #21243D;
}
.header {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 33px;
    padding-top: 10px;
    margin-right: 60px;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  /* third-container-start */
.third-container {
    margin: 135px 235px 0px 235px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .years-h2 {
    color: #8695a4;
    padding-left: 26px;
  }
  .years-p {
    font-weight: 900;
    color: #ffffff;
    background: #142850;
    width: fit-content;
    border-radius: 16px;
    padding: 0px 10px 0px 10px;
    margin: 0px;
  }
  .years{
      display: flex;
      align-items: center;
      padding: 20px 0px 22px 0px;
  }
  .first-design{
      display: flex;
      border-bottom: 1px solid #E0E0E0;
      padding: 45px 25px 32px 0px;
  }
  .second-design{
      display: flex;
      border-bottom: 1px solid #E0E0E0;
      padding: 45px 0px 32px 0px;
  }
  .third-design{
      margin-top: 30px;
      display: flex;
      border-bottom: 1px solid #E0E0E0;
      padding: 0px 25px 32px 0px;
  }
  .works-img{
      padding-right: 18px;
  }
  .Work{
    margin-top: -46px;
    font-size: 44px;
    position: absolute;
  }
  .works-p{
      margin: 0px;
      width: 500px;
  }
  h2 {
    font-weight: normal;
    margin: 0px;
  }
  h1 {
    margin: 0px;
  }
  .footer_wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 109px;
  }
  .link_img_footer {
    padding: 25px;
  }
  .header-works{ 
    color: #FF6464;
  }
  .second-work-design{
    display: none;
  }
  .icon {
    display: none;
}
  @media (min-width: 1580px) and (max-width: 1919px){
    .third-container {
      margin: 135px 30px 0px 30px}
  }
  @media (max-width: 1579px) and (min-width:1130px){
    .third-container {
      display: block;
    }
  
  }
  @media (max-width: 1129px) and (min-width:772px){
    .third-container {
      display: block;
      margin: 135px 30px 0px 30px;
    }
    .works-p {
      width: auto; 
  }
  
  }
  @media (max-width: 771px) {
    .desktop-only {
      display: none !important;
    }
    .icon {
      display: block; 
      position: absolute;
      right: 0;
      top: 0;
      margin: 15px;
  }
    .first-design{
      display: block;
  }
  .work-img{
    width: 100%;
  }
    .third-container {
      display: block;
      margin: 135px 30px 0px 30px;
    }
    .works-p {
      width: auto; 
  }
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 16px;
  }
  .second-work-design{
    display: block;
    padding: 45px 0px 32px 0px;
    border-bottom: 1px solid #E0E0E0;
  }
    
  
  }